<font color="#FFFFFF"><h1>Dag 4</h1>
<font color="#000000"><h3><p>Vandaag is het de 4e dag dat ik op Snuffelstage ben bij Bexter.</h3>
<h3>Ik ben voor heel de dag ingepland bij het maken van me website oftwel TrackOnline.<BR>
Alleen straks een kleine uitleg van Sales en dan weer verder aan m'n website.<BR> 
Tot nu toe heb ik nog niks veranderd aan de layout van m'n website.<BR> 
maar wat ik wel heb gedaan is nieuwe Pagina's aanmaken<BR> en alles schrijven van wat ik tot nu toe heb gedaan.</h3>
<h3>De tijd vloog weer vorbij en zo waren we aan het lunchen.<BR>
 Na het lunchen ging ik nog even 10 minuten verder aan m'n website<BR>
  maar had niet heel veel meer gedaan.</h3> 
<h3>Na die 10 minuten werd ik geroepen door iemand die bij Sales zit.<BR>
 Hij wou mij een beetje uitleg geven wat hij nou precies doet bij sales.<BR>
  Wederom was het weer een interessant onderwerp,<BR>
want hij vertelde mij dat Sales voor de klanten zorgt die Bexter nu heeft,<BR>
 en dat de mensen van Sales gewoon gaan googlen naar buitenlandse bedrijven<BR> 
om vervolgens te vragen of ze weleens iets kwijt zijn zoals pallets etc,<BR> 
om ze vervolgens AVALANCHE aan te bieden.</h3>
<h3> Na die uitleg over Sales ben ik weer verder gegaan aan m'n website.<BR>
Ik wist niet wat ik nog aan m'n website kon toevoegen<BR> dus ben ik gaan controleren op spellingsfouten<BR>
 en heb ik nog 1 pagina toegevoegd alvast voor dag 5.</h3><h3> En dat was mijn 4e dag bij Bexter.</h3>
