<font color="#FFFFFF">
    <h1>Dag 5</h1>
    <font color="#000000">
        <h3>
            <p>Vandaag is het mijn laatste dag dat ik hier bij Bexter stage loop.
                <BR> Ik ben weer voor heel de dag ingeplant bij TrackOnline,
                <BR> dus ik ga weer verder aan m'n website.</h3>
        <h3>Ik heb niet echt een doel voor wat
            <BR> ik verder kan gaan maken aan m'n website.<BR>
            Maar wat ik wel al heb gedaan is de <BR> collom aan de linker zijkant iets omlaag gehaald.</h3>
            <h3>Voor de rest ga ik vandaag denk ik <BR> alleen maar de tekst schrijven voor dag 5.</h3>
            <h3>Wat ik wel nog vandaag ga doen is<BR> een interview met Danny afleggen, <BR> en vragen stellen over de veiligheid binnen het gebouw.</h3>
            <h3>Mijn interview deed ik dus met Danny,<BR> hij is 1 van de 2 eigenaren van Bexter.<BR> De vragen die ik stelden gingen over <BR>
            wat hij nou precies doet binnen het bedrijf,<BR> en nog over allerlei ander onderwerpen.<BR> Het was een zeker geslaagd interview, <BR> 
            Danny heeft op alles goed antwoord kunnen geven.<BR> Dus dat is ook weer in het voordeel van mij,<BR> want ik heb nu m'n opdracht af <BR>
            en ik ben nu wat meer te weten gekomen over Danny zijn werk.</h3><h3> Na het interview gingen we rustig lunchen.<BR> Na het lunchen ben ik weer verder gegaan<BR>
            aan m'n website alleen ik heb geen inspiratie meer<BR> dus ik weet niet wat ik nog op m'n website moet toevoegen.</h3>
            <h3>Ik heb besloten niks meer aan m'n website<BR> te doen omdat ik echt niet weet wat er nog bij moet<BR>en ik vind hem zo wel mooi, mooier dan ik dacht dat ie zou worden.</h3>
            <h3>Dat was weer dag 5 en dus<BR> ook het einde van mijn stageweek bij Bexter.</h3>
            