<font color="#FFFFFF"><h1>Dag 2</h1>
<font color="#000000"><h3><p>Het is inmiddels dag 2 en ik ben weer bij bexter.<BR> Vandaag begin ik met het verder uitbreiden van m'n website.</h3>
<h3>Met een beetje behulp van de "Collega's" die bij me in de buurt waren<BR> heb ik vele nieuwe codes geleerd,<BR> waarmee je leuke dingen kan doen op je website.</h3>
<h3>Onderandere heb ik geleerd hoe je<BR> een achtergrond plaatje moet toevoegen op je website.<BR> Maar omdat ik niet echt weet wat<BR> ik als achtergrond plaatje moest gebruiken,<BR>
    heb ik maar een mooie foto van het strand :).</h3><h3>En toen was het ineens 12:15 en gingen we lunchen.<BR> De tijd gaat wel lekker snel voorbij als je<BR> bezig bent met een website bouwen.</h3>
    <h3>Toen we klaar waren met lunchen liep ik rustig naar beneden<BR> en toen zag ik opeens m'n mentor van school zitten.<BR> Ik wist wel dat ze zou komen maar ik dacht iets later.</h3>
    <h3>Ze kwam hierheen omdat ik een Stagegesprek moest houden met haar.<BR> Dat verliep zeer vlekkeloos en als ik het goed zag<BR> was m'n beoordeling "Goed/Zeer Goed" oftewel het hoogste.</h3>
    <h3>Na dat Stagegesprek kreeg ik een uitleg over AVALANCHE,<BR> Het is best wel een interessant onderwerp als je het zo hoort.<BR> Want Bexter heeft iets gemaakt dat als je producten inlaad in een vrachtwagen<BR> 
        Dan hoeven de mensen het niet meer zelf handmatig te scannen,<BR> ze lopen gewoon met de producten door een soort van poort<BR> en die poort heeft een aantal scanners eraan hangen<BR>
        dat alle RFID Code's in 1x leest.<BR> en dan weet de machine ook precies hoeveel producten<BR> er in de vrachtwagen worden geladen.</h3>
    <h3>Na de uitleg over AVALANCHE ben ik weer verder gegaan aan mijn website.<BR> Toen had ik er met veel gedoe weer iets nieuws in gekregen.<BR> namelijk linkjes, ik heb 2 linkjes in me website gezet<BR> 
        namelijk de Nederlandse en de Engelse site van bexter.<BR> En voor de rest heb ik er niet echt veel bijzonders op gezet.<BR> Alleen wat meer tekst maar dat was het dan ook.</h3>
        <h3>En dat was weer dag 2 bij Bexter.</h3>

        