<p><FONT COLOR="#FFFFFF"><h1><u>Bexter</u></h1><p><FONT COLOR="#FFFFFF">
<h3><u>Dag 1</u></h3>
<P><FONT COLOR="#000000"><h3>Ik ben bij Bexter op snuffelstage,<BR> en ik leer hoe ik moet programmeren.</h3>

<h3>Het is leuk om te doen maar,<BR> als je het voor het eerst doet is het nog een beetje lastig.</h3>
    <h3>Maar ik ga het wel leren :)</h3>
    <font color="#FFFFFF"><h3><u>Dag 2</u></h3>
    <font color="#000000"><h3>Ik ben nu voor de 2e dag bij Bexter.</h3>
    <h3>En ik begin gelijk met het programmeren.</h3>
    <h3>Ik heb al gelijk iets nieuws geleerd namelijk,<BR> Een link in mn site zetten :D</h3>
    <h3>In de middag ga ik meekijken bij Avalanche.</h3>
    <h3>Net na ik uitleg heb gekregen over Avalanche, <BR> Ben ik weer verder gegaan aan m'n Website</h3>
    <h3>en vandaag ben ik ook te weten gekomen <BR> hoe je een tabel in je Website kan zetten.</h3>
    <font color="#FFFFFF"><h3><u>Dag 3</u></h3>
    <font color="#000000"><h3>Ik zit nu op de helft van de week oftewel, Dag 3.</h3>
    <h3>En ik begin vandaag met het verder afmaken van m'n website.</h3>
    <h3>Ik heb nu weer iets nieuws in m'n website zitten<BR> namelijk, een knop dat als je erop klikt dat je<BR> automatisch doorgestuurd word naar een ander deel van m'n website.</h3>
    <h3>later op de dag ging ik meekijken bij MediTracker.</h3>
    <h3>Toen ik klaar was met het meekijken bij MediTracker,<BR> had ik wel ineen keer een volle lading met informatie gekregen.</h3>
    <h3>Maar het voordeel is wel dat ik nu helemaal<BR> weet hoe/wat MediTracker doet.</h3>
    <font color="#FFFFFF"><h3><u>Dag 4</u></h3>
    <font color="#000000"><h3>Vandaag is het dag 4 dat ik bij Bexter ben.</h3>
    <h3>Ik begin vandaag netzoals gister,<BR> met het verder afmaken van m'n website.</h3>
    <h3>ik heb nu opnieuw een nieuw deel aan m'n website gegeven<BR> want me website word eigenlijk een soort van logboek.<BR> Dus alle extra delen op m'n website zijn eigenlijk<BR> 
        alle dagen die ik hier ben bij bexter.</h3>
    <font color="#FFFFFF"><h3><u>Dag 5</u></h3>
    <font color="#000000"><h3>Het is vandaag alweer de laatste dag <BR> van mijn snuffelstage hier bij Bexter.</h3>
    <h3>Ik ben vandaag weer heel de dag bezig met m'n website.<BR> alleen weet ik niet echt wat ik er nog aan moet toevoegen.<BR> 
    Wat ik tot nu toe heb gedaan is <BR> dat colommetje aan de linker kant van de pagina<BR> iets meer naar beneden zetten dat het er ook wat mooier uit ziet.</h3>
    <h3>Iets later na dat ik dat colommetje goed heb gezet,<BR> had ik een interview gedaan met Danny.<BR> De vragen gingen over hoe/wat Danny doet binnen het bedrijf.<BR> 
    Het waren geen moeilijke vragen dus hij beantwoorde ze ook met gemak.</h3>

    
   


    




