<font color="#FFFFFF"><h1>Dag 1</h1>
<font color="#000000"><h3><p>Ik ben deze week op snuffelstage bij Bexter,<BR> en ik ga onderandere leren hoe ik moet progameren.</p></h3>

<h3>Toen ik binnen kwam begon ik eerst mee te kijken bij de administratie<BR> ze hadden me uitglegd hoe/wat ze allemaal doen,<BR> iets later op de dag ging ik met Sandra van de administratie<BR> kijken bij het nieuwe gebouw van Bexter,<BR> het is een best wel grote verdieping.<BR> zeker wel 2,5x zo         groot als waar ze nu in zitten.</h3>
<h3>Toen ik terug kwam van het nieuwe gebouw gingen we lunchen.<BR> Eenmaal klaar met lunchen ging ik naar de kamer waar trackOnline werkt,<BR> ik moest daar ook gaan beginnen aan een eigen website.<BR> In het begin vond ik het best wel lastig<BR> aangezien ik nog nooit met een echt programmeer         programma had gewerkt,<BR> maar in de loop van de dag<BR> begon ik sommige dingen wel te begrijpen.<BR> Aan het einde van de dag had ik toch nog wel<BR> een redelijk begin aan m'n website gemaakt :).</h3><h3>En dat was dag 1 bij Bexter </h3>

